.imgbg{

	background-image: url("image/1.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 100vh;
	width:100%;
	background-attachment: fixed;

}
.later{
	margin-top:150px;
}
.later h2{
	font-size: 42px;
	font-weight: 700;
}
.later h1{
	font-size: 82px;
	font-weight: 700;
}
.Servicese{
	position: relative;
}
.service h2{
	font-size: 42px;
	font-weight: 700;
}
.service p{
	font-weight: 700;
	letter-spacing: 3px;
	font-size: 25px;
}
.service{
	margin-bottom: 35px;
}
.imagetext{
	width:100px;
	height:100px;
	border-radius: 50%;
	background-color:yellow;
	position: relative;
}
.fa-angle-double-up{
	margin-top: 20px;
}
.textsetting h1{
	margin-top: 15px;
	font-weight: bold;
	font-size: 25px;
}
.textsetting p{
	padding:15px;
}
.card{
	margin-top: 40px;
}
.AMAZING h1{
	font-weight: bold;
}
footer{
	padding:20px;
}

/* =======================SIDE SOCIAL LINKS========================= */
a {
	text-decoration: none!important;
	vertical-align: middle!important;
	text-align: center!important;
	line-height: 3!important;
  }
  
  p {
	color: black!mportant;
	position: relative;
	left: -10px;
	font-family: 'Lato';
  }
  
  #sidebar {
	height: 250px!important;
	/* margin-top: 10px; */
	width: 10px!important;
	 position: absolute!important;
	 top:193px!important;
	text-align: center!important;
	padding: 10px!important;
	margin-left: 10px!important!important;
	z-index:1000!important;
  }
  
  p i {
	left: 30px!important;
	position: relative!important;
	vertical-align: middle!important;
	text-align: center!important;
	font-size: 24px!important;
  }
  
  .social {
	margin-left: -200px!important;
	width: 230px!important;
	padding: 0!important;
	display: inline-table!important;
	height: 0px!important;
	background-color: rgba(128, 128, 128, 0.73)!important;
	-moz-transition-property: margin-left!important;
	-moz-transition-duration: 0.2s!important;
	-moz-transition-delay: 0.2s!important;
	-ms-transition-property: margin-left!important;
	-ms-transition-duration: 0.2s!important;
	-ms-transition-delay: 0.2s!important;
	-o-transition-property: margin-left!important;
	-o-transition-duration: 0.2s!important;
	-o-transition-delay: 0.2s!important;
	-webkit-transition-property: margin-left!important;
	-webkit-transition-duration: 0.2s!important;
	-webkit-transition-delay: 0.2s!important;
	box-shadow: 0px 0px 6px 0px #3E3D3D!important;
	cursor: pointer!important;
  }
  
  .social:hover {
	margin-left: -30px!important;
	width: 230px!important;
	background-color: #3b5998!important;
  }
  
  .facebook:hover {
	background-color: #3b5998!important;
  }
  
  .twitter:hover {
	background-color: #4099FF!important;
  }
  
  .google:hover {
	background-color: #DD4B39!important;
  }
  
  .linkedin p i {
	left: 20px!important;
  }
  
  .google p i {
	left: 35px!important;
  }
  
  .youtube p i {
	left: 18px!important;
  }
  
  .youtube:hover {
	background-color: #E52D27!important;
  }
  
  .linkedin:hover {
	background-color: #0976B4!important;
  }

@media(max-width: 479px){

	.later h2{
	font-size: 22px;
	font-weight: 700;
         }
      .later h1{
	font-size: 42px;
	font-weight: 700;
}
}
